main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 1px solid lightgrey;
}

.row ul {
  display: flex;
  flex-direction: row;
}
.cell {
  width: 50px;
  height: 50px;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  text-align: center;
  vertical-align: middle;
  font-size: 44px;
}

.fixed {
  font-weight: bold;
  color: grey;
}

.mutable {
}

.sub-row {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.row-0,
.row-3,
.row-6 {
  border-top: 2px solid black;
}

.row-8 {
  border-bottom: 2px solid black;
}

header {
  display: flex;
  flex-direction: column;
}
.add-num {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-num__button {
  padding: 3px 8px;
  border-radius: 3px;
  border: 1px solid black;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selected {
  background-color: red;
}

.mutable:hover {
  background-color: lightblue;
}

.clear {
  padding: 2px;
  border: 1px solid black;
}
